<!DOCTYPE html> 
<html> 
	
<head> 
	<title> 
		Archive Home
	</title> 
	
	<style type="text/css"> 
		.container{
height: 100%;
margin-top: 100px;
align-content: center;

}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}
.card{
height: auto;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
body {
    background: linear-gradient(70deg, #cab812, #f7f7f7);
    color: rgb(167, 20, 32);
    min-height: 100vh;
  }
  
  code {
    background: rgb(150, 30, 30);
    padding: 0.2rem;
    border-radius: 0.2rem;
    margin: 0 0.3rem;
  }


.navbar-brand {
    float: left;
    margin-right: 130px;
    position: absolute;
    padding-right: 20px;
  }
  nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
  
    position: relative;
  }
  nav a {
    color: rgb(211, 42, 42);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }
  nav a:hover {
    color: #000;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #55d6aa;
  
    position: absolute;
    top: 0;
    width: 0%;
  
    transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before {
    width: 100%;
  }
  .error{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
    }
    .error {
      border: 1px solid;
      margin: 10px 0px;
      padding: 15px 10px 15px 50px;
      background-repeat: no-repeat;
      background-position: 10px center;
    }
    .error{
      color: #4F8A10;
      background-color: #DFF2BF;
      background-image:url('https://i.imgur.com/Q9BGTuy.png');
    }
	</style> 
	
    <script type="text/javascript"> 
        window.history.forward(); 
        function noBack() { 
            window.history.forward(); 
        } 
    </script>
    <script>
      function myFunction() {
        var x = document.getElementById("myDIV");
        /*if (x.style.display === "none") {
          x.style.display = "block";
        } else */{
          x.style.display = "none";
        }
      }
      </script>
  
	
</head> 

<body>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <link href = "@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600')"> 
        <div class="sd" style="background-color: rgb(206, 26, 26)">
          <nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
            <div class="container1">
              
          
              <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
          
              <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                  <img src="https://res.cloudinary.com/mhmd/image/upload/v1557368579/logo_iqjuay.png" width="45" alt="" class="d-inline-block align-middle mr-2">
                  <li class="text-uppercase font-weight-bold"><a href="#" class="nav-link">Guest Lecture Maintenance </a></li>
                  <li class="nav-item"><a href="http://localhost:8080/back" class="nav-link">Home </a></li>
                  <li class="nav-item"><a href="http://localhost:8080/studpage" class="nav-link">Student Details</a></li>
                  <li class="nav-item"><a href="http://localhost:8080/attend" class="nav-link">Attendence portal</a></li>
                  <li class="nav-item"><a href="http://localhost:8080/archive" class="nav-link">Archives</a></li>
                  <li class="nav-item"><a href="http://localhost:8080/feedback" class="nav-link">feedback</a></li>
                  <li class="nav-item"><a href="http://localhost:8080/b" class="nav-link">Logout</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <div class="container">
          <div class="d-flex justify-content-center h-100">
              <div class="card">
                  <div class="card-header">
        <div class="card-body">
          <div class="d-flex justify-content-center">
        <h1>Archives</h2> 
        </div>
	<p> 
        <div id="myDIV" class="error"><%= data.name %>  </div>
        <form action="http://localhost:8080/archiveSubmit" method="POST" onsubmit="return(validate());">
          Lecturer Name
          <br>
          <div class="input-group form-group">  
          <input type="text" name="lecturer" class="form-control" onclick="myFunction()">
          <br>
          </div>
          Lecturer Email
          <br>
          <div class="input-group form-group">
          
          <input type="text" name="email" class="form-control" class="form-control">
          <br>
          </div>
          Phone number
          <br>
          <div class="input-group form-group">
            <input type="text" name="mobile" class="form-control" class="form-control">
          
          <br>
          </div>
          Description
          <br>
          <div class="input-group form-group">
            <input type="text" name="desc" class="form-control">
            <br>
            </div>
            Folder<br>
            <div class="input-group form-group">
            <input type="text" name="folder" id='folder' class="form-control">
            <br>
            </div>
            File to Upload
            <br>
            <div class="input-group form-group">
            <input type='file' name='fileButton' id='fileButton' class="form-control"> 
            <br>
            </div>
            <br>
            <div class="input-group form-group">
            
            <button class="form-control">Click to Uplaod</button>
            
            </form>
            </div>
            
    </p> 
    
        
        
        <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
<script>
    //var firebase = require("firebase")
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyD2OnDil2kI7YVYR_lqPyH33WOmNdQ9Qsg",
    authDomain: "software-engineering-d1f51.firebaseapp.com",
    databaseURL: "https://software-engineering-d1f51.firebaseio.com",
    projectId: "software-engineering-d1f51",
    storageBucket: "software-engineering-d1f51.appspot.com",
    messagingSenderId: "52898460466",
    appId: "1:52898460466:web:8086c239de967be3171d2b",
    measurementId: "G-1MBY0HBCGQ"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  //firebase.analytics();
  var filebutton=document.getElementById('fileButton');
  var foldername=document.getElementById('folder');
  filebutton.addEventListener('change',function(e)
  {
      var foldername=folder.value|'photos'
      foldername+='/'
      var file=e.target.files[0];
      var storageRef=firebase.storage().ref(foldername+file.name);
      var task=storageRef.put(file);

  });
</script>
</body> 

</html> 
